@using cntr = Weable.TMS.Web.Controllers.TrainingController
@using fileCntr = Weable.TMS.Web.Controllers.FileController
@model Weable.TMS.Web.Models.EditTrainingModel

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }

        #file-detail input {
            cursor: pointer;
        }

            #file-detail input:hover {
                color: #0F7E9B;
                text-decoration: underline;
            }

        #img-upload {
            width: 100%;
        }
    </style>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">ระบบบันทึกข้อมูลการฝึกอบรม</li>
        <li class="breadcrumb-item active">โครงการฝึกอบรมใหม่</li>
    </ol>
</nav>

<div class="card shadow h-100 pt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TrainingId" />

                    <!-- ข้อมูลโครงการ -->
                    <h4 class="title">ข้อมูลโครงการ</h4>

                    <div class="form-group row">
                        <label asp-for="CourseId" class="col-sm-3 col-form-label text-right">โครงการที่เกี่ยวข้อง (หลักสูตร)<span class="text-danger">*</span></label>
                        <div class="col-sm-7">
                            @Html.DropDownListFor(x => x.CourseId, Model.Courses, "- เลือกหลักสูตร -", new { @class = "form-control" })
                        </div>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-3 col-form-label text-right">ชื่อโครงการ<span class="text-danger">*</span></label>
                        <div class="col-sm-7">
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="custom-control custom-checkbox col-sm-4 ml-3">
                            <input type="checkbox" asp-for="IsRecommend" class="custom-control-input" checked>
                            <label class="custom-control-label" asp-for="IsRecommend"> โครงการแนะนำ</label>
                        </div>
                    </div>

                    <hr />
                    <!-- รายละเอียดโครงการ -->
                    <h4 class="title">รายละเอียดโครงการ</h4>

                    <div class="form-group">
                        <label class="col-md-9 form-control-static">
                            รูปภาพโครงการ :
                            <span class="text-danger">*</span>
                            <span style="font-size:12px; color:gray; font-style:italic">(ภาพต้องมีขนาดภาพ 1200x650 px) </span>
                        </label>
                    </div>
                    <div class="form-group row">
                        <div id="progress-wrp">
                            <div class="progress-bar"></div>
                            <div class="status">0%</div>
                        </div>
                        @Html.HiddenFor(x => x.TrnImage)
                        <div class="border border-gray mx-3 p-3">
                            <span class="btn btn-primary btn-file mb-2">
                                Browse… <input type="file" id="imgInp">
                            </span>
                            <div class="input-group col-sm-6 ml-0 pl-0 mb-2" id="file-detail">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-paperclip"></i>
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger btn-file-delete">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </div>
                            <img id="img-upload" src="https://via.placeholder.com/1200x650.jpg" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label">รายละเอียด</label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Objective" class="control-label">วัตถุประสงค์</label>
                        <textarea asp-for="Objective" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Objective" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TargetGroup" class="control-label">กลุ่มเป้าหมาย</label>
                        <textarea asp-for="TargetGroup" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="TargetGroup" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Condition" class="control-label">เงื่อนไขการฝึกอบรม</label>
                        <textarea asp-for="Condition" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Condition" class="text-danger"></span>
                    </div>

                    <hr />
                    <!-- รายชื่อผู้เกี่ยวข้อง -->
                    <h4 class="title my-3">รายชื่อผู้เกี่ยวข้อง</h4>

                    <hr />
                    <!-- เอกสารเพิ่มเติม -->
                    <h4 class="title my-3">เอกสารเพิ่มเติม</h4>

                    <hr />
                    <!-- การรับสมัคร -->
                    <h4 class="title my-3">การรับสมัคร</h4>

                    @await Html.PartialAsync("~/Views/Training/Edit/_TrnDate.cshtml", Model)

                    <hr />
                    <!-- เงื่อนไข -->
                    <h4 class="title">เงื่อนไข</h4>

                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">การฝึกอบรมที่เคยเข้าร่วม <span class="text-danger">*</span></label>
                        <div class="custom-control custom-checkbox col-sm-2 ml-3">
                            @Html.RadioButtonFor(x => x.IsPrerequisite, false, new { @id = "isP1", @class = "custom-control-input" })
                            <label class="custom-control-label" for="isP1"> ไม่จำเป็น</label>
                        </div>
                        <div class="custom-control custom-checkbox col-sm-2 ml-3">
                            @Html.RadioButtonFor(x => x.IsPrerequisite, true, new { @id = "isP2", @class = "custom-control-input" })
                            <label class="custom-control-label" for="isP2"> จำเป็น</label>
                        </div>
                    </div>

                    <hr />
                    <!-- การเผยแพร่โครงการ -->
                    <h4 class="title">การเผยแพร่โครงการ</h4>

                    @await Html.PartialAsync("~/Views/Training/Edit/_TrnPublishDate.cshtml", Model)

                    <hr />

                    <div class="form-group text-center pt-3">
                        <a asp-action="@cntr.ActionList" class="btn btn-secondary">ยกเลิก</a>
                        <input type="submit" value="บันทึก" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#file-detail').hide();

            var Upload = function (file) {
                this.file = file;
            };
            Upload.prototype.getType = function () {
                return this.file.type;
            };
            Upload.prototype.getSize = function () {
                return this.file.size;
            };
            Upload.prototype.getName = function () {
                return this.file.name;
            };

            Upload.prototype.doUpload = function () {
                var that = this;
                var formData = new FormData();

                // add assoc key values, this will be posts values
                console.log(this.file);
                formData.append("files", this.file);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Index", "UploadFiles")",
                    xhr: function () {
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) {
                            myXhr.upload.addEventListener('progress', that.progressHandling, false);
                        }
                        return myXhr;
                    },
                    success: function (data) {
                        // your callback here
                        alert("Files Uploaded!");
                        console.log(data);
                    },
                    error: function (error) {
                        // handle error
                    },
                    enctype: 'multipart/form-data',
                    async: true,
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    timeout: 60000
                });

            };

            Upload.prototype.progressHandling = function (event) {
                var percent = 0;
                var position = event.loaded || event.position;
                var total = event.total;
                var progress_bar_id = "#progress-wrp";
                if (event.lengthComputable) {
                    percent = Math.ceil(position / total * 100);
                }
                // update progressbars classes so it fits your code
                $(progress_bar_id + " .progress-bar").css("width", +percent + "%");
                $(progress_bar_id + " .status").text(percent + "%");
            };


            $(document).on('change', '.btn-file :file', function () {
                var file = $(this)[0].files[0];
                var upload = new Upload(file);
                // maby check size or type here with upload.getSize() and upload.getType()

                // execute upload
                upload.doUpload();
            });

            //$('.btn-file :file').on('fileselect', function (event, label) {

            //    $(this).parent().hide();
            //    $('#file-detail').show();
            //    var input = $('#file-detail').find(':text'),
            //        log = label;

            //    if (input.length) {
            //        input.val(log);
            //    } else {
            //        if (log) alert(log);
            //    }

            //});
            //function readURL(input) {
            //    if (input.files && input.files[0]) {
            //        // upload file
            //        $.ajax({

            //        });
            //        console.log(input.files[0]);
            //        var reader = new FileReader();

            //        reader.onload = function (e) {
            //            $('#img-upload').attr('src', e.target.result);
            //        }

            //        reader.readAsDataURL(input.files[0]);
            //    }
            //}

            //$("#imgInp").change(function () {
            //    readURL(this);
            //});

            //$('#file-detail').find(':text').click(function () {
            //    // Download file
            //    alert($(this).val());
            //});

            $('.btn-file-delete').click(function () {

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success mx-1',
                        cancelButton: 'btn btn-danger mx-1'
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        swalWithBootstrapButtons.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        $('#file-detail').hide();
                        $('.btn-file :file').parent().show();

                        $("#imgInp").val('');
                        $('#img-upload').attr('src', 'https://via.placeholder.com/1200x650.jpg');

                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your imaginary file is safe :)',
                            'error'
                        )
                    }
                });

            });
        });
    </script>
}
