@model Weable.TMS.BO.Web.Models.EditTrainingModel
<!-- วันที่รับสมัคร -->
<div class="form-group row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label asp-for="RegisterStartDate" class="control-label">วันที่รับสมัคร<span class="text-danger"> *</span></label>
        <div class="input-group pt-1">
            @*<input asp-for="RegisterStartDate" type="date" class="form-control datepicker">*@
            @Html.TextBoxFor(x => x.RegisterStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <span asp-validation-for="RegisterStartDate" class="text-danger"></span>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label asp-for="RegisterEndDate" class="control-label">วันที่สิ้นสุดรับสมัคร<span class="text-danger"> *</span></label>
        <div class="input-group pt-1">
            @Html.TextBoxFor(x => x.RegisterEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <span asp-validation-for="RegisterEndDate" class="text-danger"></span>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- วันที่ประกาศรายชื่อ -->
<div class="form-group row mt-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label>วันที่ประกาศรายชื่อผู้มีสิทธิ์เข้าร่วม</label><span class="text-danger"> *</span>
        <div class="input-group">
            @Html.TextBoxFor(x => x.PublishAtdDate, Model.PublishAtdDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label>เวลา</label><span class="text-danger"> *</span>
        <div class="input-group">
            @Html.DropDownListFor(x => x.PublishAtdHour, Model.PublishAtdHours, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">:</span>
            </span>
            @Html.DropDownListFor(x => x.PublishAtdMinute, Model.PublishAtdMinutes, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">น.</span>
            </span>
        </div>
    </div>
</div>
<!--จำนวนที่เปิดรับ-->
<div class="form-group mt-2 row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label class="control-label">จำนวนที่เปิดรับ<span class="text-danger"> *</span></label>
        <div class="input-group">
            <input asp-for="SeatQty" class="form-control" />
            <span class="input-group-append">
                <span class="input-group-text">ที่นั่ง</span>
            </span>
        </div>
    </div>
</div>

<hr />
<!-- การจัดฝึกอบรม -->
<h4 class="title">การจัดฝึกอบรม</h4>

<!-- วันที่จัดฝึกอบรม -->
<div class="form-group row mt-3">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label>วันที่จัดการฝึกอบรม</label><span class="text-danger"> *</span>
        <div class="input-group">
            @Html.TextBoxFor(x => x.TrnStartDate, Model.TrnStartDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label>วันที่สิ้นสุดการฝึกอบรม</label><span class="text-danger"> *</span>
        <div class="input-group">
            @Html.TextBoxFor(x => x.TrnEndDate, Model.TrnEndDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label>เวลา</label><span class="text-danger"> *</span>
        <div class="input-group">
            @Html.DropDownListFor(x => x.TrnStartHour, Model.TrnStartHours, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">:</span>
            </span>
            @Html.DropDownListFor(x => x.TrnStartMinute, Model.TrnStartMinutes, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">น.</span>
            </span>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <label>ถึง</label><span class="text-danger"> *</span>
        <div class="input-group">
            @Html.DropDownListFor(x => x.TrnEndHour, Model.TrnEndHours, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">:</span>
            </span>
            @Html.DropDownListFor(x => x.TrnEndMinute, Model.TrnEndMinutes, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">น.</span>
            </span>
        </div>
    </div>
</div>