@model Weable.TMS.BO.Web.Models.EditTrainingModel

<div class="form-group row">
    <label class="col-sm-12 col-form-label">วันที่เผยแพร่การฝึกอบรม<span class="text-danger"> *</span></label>
    <div class="custom-control custom-checkbox col-sm-3 ml-3">
        @Html.RadioButtonFor(x => x.IsPublishNow, true, new { @id = "IsPublish1", @class = "custom-control-input" })
        <label class="custom-control-label" for="IsPublish1"> เผยแพร่ทันที</label>
    </div>
    <div class="custom-control custom-checkbox col-sm-7 ml-3 row">
        @Html.RadioButtonFor(x => x.IsPublishNow, false, new { @id = "IsPublish2", @class = "custom-control-input" })
        <label class="custom-control-label" for="IsPublish2"> กำหนดเวลาเผยแพร่</label>
        <div id="publishDate" class="row mt-3" @(Model.IsPublishNow == false ? "" : "style=display:none")>
            <div class="col-sm-6">
                <label class="form-control-static">วันที่</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.PublishDate, Model.PublishDateText, new { @class = "form-control input-md datepicker", @placeholder = "วันที่เผยแพร่" })
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="form-control-static">เวลา</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.PublishHour, Model.PublishHours, new { @class = "form-control" })
                    <span class="input-group-append">
                        <span class="input-group-text">:</span>
                    </span>
                    @Html.DropDownListFor(x => x.PublishMinute, Model.PublishMinutes, new { @class = "form-control" })
                    <span class="input-group-append">
                        <span class="input-group-text">น.</span>
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-md-offset-3">
                <font size="2" class="grey controls"><i> กรุณาระบุวันที่และเวลาที่ต้องการเผยแพร่โครงการ</i></font>
            </div>
        </div>
    </div>
</div>