@using cntr = Weable.TMS.BO.Web.Controllers.CourseController
@model Weable.TMS.BO.Web.Models.EditCourseModel

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">ระบบบันทึกข้อมูลการฝึกอบรม</li>
        <li class="breadcrumb-item">โครงการหลัก</li>
        <li class="breadcrumb-item active">เพิ่มโครงการหลัก</li>
    </ol>
</nav>


<div class="card shadow h-100 pt-3">
    <div class="card-body">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form id="edit-form" asp-action="@cntr.ActionEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CourseId" />
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-3 col-form-label text-right">ชื่อโครงการ <span class="text-danger">*</span></label>
                        <div class="col-sm-7">
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="custom-control custom-checkbox col-sm-4 ml-3">
                            <input type="checkbox" asp-for="IsActive" class="custom-control-input" checked>
                            <label class="custom-control-label" asp-for="IsActive"> ใช้งานได้</label>
                        </div>
                    </div>
                    <div class="form-group text-center pt-3">
                        <a asp-action="@cntr.ActionList" class="btn btn-secondary">ยกเลิก</a>
                        <input type="submit" value="บันทึก" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    var __return_url = '@Url.Action(@cntr.ActionList, @cntr.Name)';
    $(document).ready(function () {
        $("#edit-form").submit(function (e) {
            e.preventDefault();
            weSaveForm($(this), function () {
                window.location.href = __return_url;
            });
        });
    });
    </script>
}


