@using Weable.TMS.Model.Enumeration
@using cntr = Weable.TMS.Web.Controllers.RegisTrainingController
@model Weable.TMS.Web.Models.EditRegisTrainingModel


<div class="col-12 mb-4">
    <div class="card shadow">
        <div class="card-body">

            <form id="main" asp-route="@cntr.ActionRegisterConfirm" method="post" class="form-horizontal">

                <div class="row mt-3 justify-content-center">

                    @*---------------- ข้อมูลส่วนตัว ---------------------------------*@
                    <div class="col-12 mb-3">
                        <h4 class="title">กรุณาตรวจสอบข้อมูลก่อนลงทะเบียน</h4>
                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-8 mb-3">
                        <div class="form-group row">
                            <label class="col-md-5 col-12 col-form-label">เลขบัตรประจำตัวประชาชน</label>
                            <label class="col-md-7 col-12 col-form-label title">@Model.CitizenId</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-5 col-12 col-form-label">ชื่อ</label>
                            <label class="col-md-7 col-12 col-form-label title">@Model.Prefix@Model.FirstName @Model.LastName</label>
                        </div>
                    </div>

                    <div class="form-group text-center col-md-12">
                        <a class="btn btn-secondary" onclick="scrollWin()" data-toggle="tab" href="#tab_01">ยกเลิก</a>
                        <button class="btn btn-primary" type="submit">ลงทะเบียน</button>
                    </div>

                    @Html.HiddenFor(x => x.CitizenId)
                    @Html.HiddenFor(x => x.Prefix)
                    @Html.HiddenFor(x => x.FirstName)
                    @Html.HiddenFor(x => x.LastName)
                    @Html.HiddenFor(x => x.PersonId)
                    @Html.HiddenFor(x => x.Training.TrainingId)
                </div>
            </form>

        </div>
    </div>
</div>