@using cntr = Weable.TMS.Web.Controllers.RegisTrainingController
@model Weable.TMS.Web.Models.EditRegisTrainingModel
<!-- Nav tabs -->
<div class="col-12 mb-4">
    <div class="card shadow">
        <div class="card-body">

            <ul class="nav process-model more-icon-preocess mt-2 d-flex justify-content-center" role="tablist">
                <li class="active">
                    <a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <p>ขั้นตอนที่ 1</p>
                    </a>
                </li>
                <li>
                    <a class="disabled">
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                        <p>ขั้นตอนที่ 2</p>
                    </a>
                </li>
                <li role="presentation">
                    <a class="disabled">
                        <i class="fa fa-user-check" aria-hidden="true"></i>
                        <p>ขั้นตอนที่ 3</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<!-- end design process steps-->

<div class="col-12 mb-4">
    <div class="card shadow">
        <div class="card-body">

            <form id="search" asp-action="@cntr.ActionEdit" asp-controller="@cntr.Name" method="get" class="form-horizontal">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <label class="control-label" style="font-size:22px;">กรุณากรอกหมายเลขบัตรประจำตัวประชาชน<span class="text-danger"> *</span></label>
                    </div>
                    <div class="col-md-4" style="margin-top:20px">
                        @Html.TextBoxFor(x => x.CitizenId, new { @class = "form-control str-digit-13" })
                    </div>
                    <div class="col-md-12 text-center">
                        <label class="text-danger control-label py-3" style="font-size:20px;" id="validate"></label>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-secondary" id="btn-cancel">ยกเลิก</button>
                        <button type="button" class="btn btn-primary" id="btn-search">ตกลง</button>
                    </div>
                </div>

                @Html.HiddenFor(x => x.ReturnUrl)
                @Html.Hidden("IsFirst", false)
            </form>

        </div>
    </div>
</div>




