@using cntr = Weable.TMS.Web.Controllers.RegisTrainingController
@model Weable.TMS.Web.Models.EditRegisTrainingModel

<div class="col-12 mb-4">
    <div class="card shadow">
        <div class="card-body">

            <form id="search" asp-route="@cntr.ActionPostRegister" method="POST" class="form-horizontal">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <label class="control-label title">กรุณากรอกข้อมูลเพื่อยืนยันตัวตน</label>
                    </div>
                    <div class="col-md-4 col-12 mt-3">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Identification, new { @class = "form-control", @placeholder = "รหัสตัวบุคคล เช่น รหัสนักศึกษา รหัสพนักงาน" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(x => x.VerifyCode, new { @class = "form-control", @placeholder = "รหัสตรวจสอบตัวตน" })
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LezA7kUAAAAAMR6rFYqL1d9iJTfitEKVJBSCFTq"></div>
                        </div>
                        <div class="alert alert-danger" id="validate" role="alert"></div>
                    </div>
                    <div class="col-md-12 text-center">
                        @if (!string.IsNullOrEmpty(Model.ReturnUrl))
                        {
                            <button type="button" class="btn btn-secondary" id="btn-cancel">ยกเลิก</button>
                        }
                        <button type="button" class="btn btn-primary" id="btn-search">ยืนยัน</button>
                    </div>
                </div>

                @Html.HiddenFor(x => x.CitizenId)
                @Html.HiddenFor(x => x.ReturnUrl)
                @Html.Hidden("IsFirst", false)
            </form>

        </div>
    </div>
</div>




