@model ListCourseModel

@{
    ViewData["Title"] = "Course";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Course" asp-action="Index" class="form-inline">
    <div class="form-group">
        <label asp-for="Keyword" class="control-label"></label>
        <input asp-for="Keyword" class="form-control" />
        <button class="btn btn-primary">Filter</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<ul class="pagination">
    <li class="page-item @(Model.Paging.CurrentPage > 1?"":"disabled")">
        <a asp-controller="Course" asp-action="Index" asp-route-Keyword="@Model.Keyword" asp-route-pageNo="@(Model.Paging.CurrentPage - 1 > 1?Model.Paging.CurrentPage:1)" class="page-link">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    @for (var p = 1; p <= Model.Paging.PageCount; p++)
    {
        <li class="page-item @(Model.Paging.CurrentPage == p?"active":"")">
            <a asp-controller="Course" asp-action="Index" asp-route-Keyword="@Model.Keyword" asp-route-pageNo="@p" class="page-link">@p</a>
        </li>
    }
    <li class="page-item @(Model.Paging.CurrentPage < Model.Paging.PageCount?"":"disabled")">
        <a asp-controller="Course" asp-action="Index" asp-route-Keyword="@Model.Keyword" asp-route-pageNo="@(Model.Paging.CurrentPage + 1 < Model.Paging.PageCount?Model.Paging.CurrentPage + 1:Model.Paging.PageCount)" class="page-link">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>