@model ListCourseModel

@{
    ViewData["Title"] = "Course";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Course" asp-action="Index" class="form-inline">
    <div class="form-group">
        <label asp-for="Keyword" class="control-label"></label>
        <input asp-for="Keyword" class="form-control" />
        <button class="btn btn-primary">Filter</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Paging", Model)