@using cntr = Weable.TMS.Web.Controllers.CourseController
@model Weable.TMS.Web.Models.ListCourseModel

@{
    ViewData["Title"] = "Course";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="@cntr.Name" asp-action="@cntr.ActionList" class="form-inline">
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="Keyword" class="control-label"></label>
        <input asp-for="Keyword" class="form-control" />
    </div>
    <button class="btn btn-primary">Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="@cntr.ActionEdit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="@cntr.ActionListTrn" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="@cntr.ActionDelete" asp-route-id="@item.CourseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Paging", Model)