@using Weable.TMS.Web.Controllers
@using System.Web
@model Weable.TMS.Web.Models.EditTrainingModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mb-5">
    <div class="row mt-3">

        <div class="col-md-6 col-12 d-flex align-items-stretch">
            <div class="card shadow mb-2 flex-fill">
                <img class="card-img flex-fill" src="~/images/1200x675.jpg" />
            </div>
        </div>

        <div class="col-md-6 col-12 d-flex align-items-stretch">
            <div class="card shadow mb-2 flex-fill">
                <div class="card-body ">
                    <h5 class="card-title title">@Model.Course.Name</h5>
                    <p class="card-text">@Model.Name</p>
                    <hr />

                    <div class="row no-gutters">
                        <div class="col-sm-4">วันที่จัดอบรม :</div>
                        <div class="col-sm-8 title">
                            @if (Model.TrnStartDateText == Model.TrnEndDateText)
                            {
                                <span>@Model.TrnStartDateTextTH</span>
                            }
                            else if (Model.TrnStartDate.Value.Month.Equals(Model.TrnEndDate.Value.Month))
                            {
                                <span>@Model.FormatShortDate(Model.TrnStartDate, Model.TrnStartDate.Value.Day.ToString(), Model.TrnEndDate.Value.Day.ToString())</span>
                            }
                            else
                            {
                                <span>@Model.TrnStartDateTextTH - @Model.TrnEndDateTextTH</span>
                            }
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-4">วันที่รับสมัคร :</div>
                        <div class="col-sm-8 title">
                            @if (Model.RegisterStartDateText == Model.RegisterEndDateText)
                            {
                                <span>@Model.RegisterStartDateTextTH</span>
                            }
                            else if (Model.RegisterStartDate.Value.Month.Equals(Model.RegisterEndDate.Value.Month))
                            {
                                <span>@Model.FormatShortDate(Model.RegisterStartDate, Model.RegisterStartDate.Value.Day.ToString(), Model.RegisterEndDate.Value.Day.ToString())</span>
                            }
                            else
                            {
                                <span>@Model.RegisterStartDateTextTH - @Model.RegisterEndDateTextTH</span>
                            }
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-4">สถานที่ :</div>
                        <div class="col-sm-8 title">@Model.Location</div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-4">สถานะ :</div>
                        @{
                            string StatusName = "-";
                            if (DateTime.Now.Date < Model.RegisterStartDate)
                            {
                                StatusName = "รอเปิดรับสมัคร";
                            }
                            if (Model.RegisterStartDate <= DateTime.Now.Date && Model.RegisterEndDate >= DateTime.Now.Date)
                            {
                                if (Model.AttendeeQty >= Model.SeatQty)
                                {
                                    StatusName = "มีผู้สมัครครบแล้ว";
                                }
                                else
                                {
                                    StatusName = "กำลังเปิดรับสมัคร";
                                }
                            }
                            if (Model.RegisterEndDate < DateTime.Now.Date)
                            {
                                StatusName = "ปิดรับสมัคร";
                            }
                            if (Model.TrnEndDate < DateTime.Now.Date)
                            {
                                StatusName = "จัดฝึกอบรมแล้ว";
                            }

                        }
                        <div class="col-sm-8 title">@StatusName</div>
                    </div>
                    <div class="row no-gutters">
                        @{
                            var AvailableSeat = (Model.SeatQty - Model.AttendeeQty) < 0 ? 0 : Model.SeatQty - Model.AttendeeQty;
                        }
                        <div class="col-sm-4">จำนวนที่ว่าง :</div>
                        <div class="col-sm-8 title">@AvailableSeat</div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-4">จำนวนที่รับสมัคร :</div>
                        <div class="col-sm-8 title">@Model.SeatQty</div>
                    </div>
                    <div class="row no-gutters text-center mt-3">
                        <div class="col-12">
                            @{
                                var regisUrl = Url.RouteUrl(RegisTrainingController.ActionGetRegister, new { Id = Model.TrainingId, ReturnUrl = HttpUtility.UrlPathEncode(Html.ViewContext.HttpContext.Request.Path) });
                            }
                            <a class="btn btn-primary" href="@regisUrl" role="button">ลงทะเบียน</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row mt-md-3 mt-0">

        <div class="col-md-6 col-12 d-flex align-items-stretch">
            <div class="card shadow mb-2 flex-fill">
                <div class="card-body ">
                    <p class="card-text">
                        <span class="title">@Model.Name</span><br />
                        <span>&emsp;@(string.IsNullOrEmpty(Model.Description) ? "-" : Model.Description)</span>
                    </p>
                    <p class="card-text">
                        <span class="title">วัตถุประสงค์</span><br />
                        <span>&emsp;@(string.IsNullOrEmpty(Model.Objective) ? "-" : Model.Objective)</span>
                    </p>
                    <p class="card-text">
                        <span class="title">กลุ่มเป้าหมาย</span><br />
                        <span>&emsp;@(string.IsNullOrEmpty(Model.TargetGroupNote) ? "-" : Model.TargetGroupNote)</span>
                    </p>
                    <p class="card-text">
                        <span class="title">เงื่อนไขการฝึกอบรม</span><br />
                        <span>&emsp;@(string.IsNullOrEmpty(Model.Condition) ? "-" : Model.Condition)</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12 d-flex align-items-stretch">
            <div class="card shadow mb-2 flex-fill">
                <div class="card-body ">
                    <p class="card-text">
                        <span class="title">ผู้ประสานงานการฝึกอบรม</span><br />
                        นายเอ นามสมมติ
                    </p>
                    <p class="card-text">
                        <span class="title">ผู้ประสานงานการฝึกอบรม</span><br />
                        นายเอ นามสมมติ<br>
                        เบอร์โทรศัพท์ : 098-7654321<br>
                        Fax : -<br>
                        Email : a@gmail.com
                    </p><br />
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-3 text-center">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary">ดูหลักสูตรอื่น</a>
        </div>

    </div>

</div>


