@model Weable.TMS.Web.Models.EditRegisTrainingModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">

    <div class="col-12 mb-4">
        <div class="card border-left-primary shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-12">
                        <span class="title" style="font-size: 18px;">หลักสูตร</span>
                        <h2 class="py-2">@Model.Training.Name</h2>
                        @if (Model.Training.TrnStartDate == Model.Training.TrnEndDate)
                        {
                            <span style="font-size:18px">วันที่ @Model.Training.TrnStartDateText เวลา @Model.Training.TrnStartDateText น.</span>
                        }
                        else
                        {
                            <span style="font-size:18px">วันที่ @Model.Training.TrnStartDateText เวลา @Model.Training.TrnStartTimeText น. - วันที่ @Model.Training.TrnEndDateText เวลา @Model.Training.TrnEndTimeText น.</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="process-tab">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane @(Model.IsFirst == true ? "active" : "")" id="tab_01">

                @await Html.PartialAsync("Edit/_Edit01", Model)

            </div>
            <div role="tabpanel" class="tab-pane @(Model.IsFirst == false ? "active" : "")" id="tab_02">

                @await Html.PartialAsync("Edit/_Edit02", Model)

            </div>
            <div role="tabpanel" class="tab-pane" id="tab_03">

                @await Html.PartialAsync("Edit/_Edit03", Model)

            </div>
        </div>
    </section>

</div>

@section Scripts
{
    <script>
        // script for tab steps
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var href = $(e.target).attr('href');
            var $curr = $(".process-model  a[href='" + href + "']").parent();

            $('.process-model li').removeClass();

            $curr.addClass("active");
            $curr.prevAll().addClass("visited");
        });
        // end  script for tab steps

        function RefreshPage() {
            window.location.href = '@Html.Raw(Html.ViewContext.HttpContext.Request.Path)';
        }

        function ReturnToMainPage() {
            window.location.href = __return_url;
        }

        function scrollWin() {
            window.scrollTo(0, 0);
        }

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    @await Html.PartialAsync("Edit/_Edit01Script", Model)

    @await Html.PartialAsync("Edit/_Edit02Script")
}

