@model Weable.TMS.Web.Models.EditRegisTrainingModel

@{
    ViewData["Title"] = "ลงทะเบียน";
}

<div class="container mt-4">

    <div class="col-12 mb-4">
        <div class="card border-left-primary shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-12">
                        <h5 class="title d-none d-sm-block">@Model.Training.Course.Name</h5>
                        <span class="title d-sm-none d-block">@Model.Training.Course.Name</span>
                        <h3 class="py-2 d-none d-sm-block">@Model.Training.Name</h3>
                        <span class="py-1 d-sm-none d-block">@Model.Training.Name</span>
                        @if (Model.Training.TrnStartDate == Model.Training.TrnEndDate)
                        {
                            <span>อบรมวันที่ @Model.Training.TrnStartDateText</span>
                            <span>เวลา @Model.Training.TrnStartTimeText - @Model.Training.TrnEndTimeText น.</span>
                        }
                        else if (Model.Training.TrnStartDate.Month.Equals(Model.Training.TrnEndDate.Month))
                        {
                            <span>อบรมวันที่ @Model.Training.FormatShortDate(Model.Training.TrnStartDate, Model.Training.TrnStartDate.Day.ToString(), Model.Training.TrnEndDate.Day.ToString())</span>
                            <span>&ensp;เวลา @Model.Training.TrnStartTimeText - @Model.Training.TrnEndTimeText น.</span>
                        }
                        else
                        {
                            <span>อบรมวันที่ @Model.Training.TrnStartDateText เวลา @Model.Training.TrnStartTimeText - </span>
                            <span>@Model.Training.TrnEndDateText เวลา @Model.Training.TrnEndTimeText น.</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="process-tab">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane @(Model.IsFirst == true ? "active" : "")" id="tab_01">

                @await Html.PartialAsync("Edit/_Edit01", Model)

            </div>
            <div role="tabpanel" class="tab-pane @(Model.IsFirst == false ? "active" : "")" id="tab_02">

                @await Html.PartialAsync("Edit/_Edit02", Model)

            </div>
            <div role="tabpanel" class="tab-pane" id="tab_03">

                @await Html.PartialAsync("Edit/_Edit03", Model)

            </div>
        </div>
    </section>

</div>

@section Scripts
{

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
        // script for tab steps
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var href = $(e.target).attr('href');
            var $curr = $(".process-model  a[href='" + href + "']").parent();

            $('.process-model li').removeClass();

            $curr.addClass("active");
            $curr.prevAll().addClass("visited");
        });
        // end  script for tab steps

        function RefreshPage() {
            window.location.href = '@Html.Raw(Html.ViewContext.HttpContext.Request.Path)';
        }

        function ReturnToMainPage() {
            window.location.href = __return_url;
        }

        function scrollWin() {
            window.scrollTo(0, 0);
        }

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    @await Html.PartialAsync("Edit/_Edit01Script", Model)

    @await Html.PartialAsync("Edit/_Edit02Script")
}

