@model Weable.TMS.Web.Models.EditTrainingModel
<!-- วันที่รับสมัคร -->
<div class="form-group row">
    <div class="col-4">
        <label asp-for="RegisterStartDate" class="control-label">วันที่รับสมัคร<span class="text-danger">*</span></label>
        <div class="input-group pt-1">
            @Html.TextBoxFor(x => x.RegisterStartDate, Model.RegisterStartDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <span asp-validation-for="RegisterStartDate" class="text-danger"></span>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <label asp-for="RegisterEndDate" class="control-label">วันที่สิ้นสุดรับสมัคร<span class="text-danger">*</span></label>
        <div class="input-group pt-1">
            @Html.TextBoxFor(x => x.RegisterEndDate, Model.RegisterEndDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <span asp-validation-for="RegisterEndDate" class="text-danger"></span>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- วันที่ประกาศรายชื่อ -->
<div class="form-group row mt-2">
    <div class="col-md-4">
        <label>วันที่ประกาศรายชื่อผู้มีสิทธิ์เข้าร่วม</label><span class="text-danger">*</span>
        <div class="input-group">
            @Html.TextBoxFor(x => x.PublishAtdDate, Model.PublishAtdDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label>เวลา</label><span class="text-danger">*</span>
        <div class="input-group">
            @Html.DropDownListFor(x => x.PublishAtdHour, Model.PublishAtdHours, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">:</span>
            </span>
            @Html.DropDownListFor(x => x.PublishAtdMinute, Model.PublishAtdMinutes, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">น.</span>
            </span>
        </div>
    </div>
</div>
<!--จำนวนที่เปิดรับ-->
<div class="form-group mt-2 row">
    <div class="col-md-2">
        <label class="control-label">จำนวนที่เปิดรับ<span class="text-danger">*</span></label>
        <div class="input-group">
            <input asp-for="SeatQty" class="form-control" />
            <span class="input-group-append">
                <span class="input-group-text">ที่นั่ง</span>
            </span>
        </div>
    </div>
</div>

<hr />
<!-- การจัดฝึกอบรม -->
<h4 class="title">การจัดฝึกอบรม</h4>

<!-- วันที่จัดฝึกอบรม -->
<div class="form-group row mt-3">
    <div class="col-md-4">
        <label>วันที่จัดการฝึกอบรม</label><span class="text-danger">*</span>
        <div class="input-group">
            @Html.TextBoxFor(x => x.TrnStartDate, Model.TrnStartDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label>วันที่สิ้นสุดการฝึกอบรม</label><span class="text-danger">*</span>
        <div class="input-group">
            @Html.TextBoxFor(x => x.TrnEndDate, Model.TrnEndDateText, new { @class = "form-control input-md datepicker", @placeholder = "วัน/เดือน/ปี" })
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-4">
        <label>เวลา</label><span class="text-danger">*</span>
        <div class="input-group">
            @Html.DropDownListFor(x => x.TrnStartHour, Model.TrnStartHours, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">:</span>
            </span>
            @Html.DropDownListFor(x => x.TrnStartMinute, Model.TrnStartMinutes, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">น.</span>
            </span>
        </div>
    </div>
    <div class="col-md-4">
        <label>ถึง</label><span class="text-danger">*</span>
        <div class="input-group">
            @Html.DropDownListFor(x => x.TrnEndHour, Model.TrnEndHours, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">:</span>
            </span>
            @Html.DropDownListFor(x => x.TrnEndMinute, Model.TrnEndMinutes, new { @class = "form-control" })
            <span class="input-group-append">
                <span class="input-group-text">น.</span>
            </span>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        RegitChecked();
        $("input[name='RegisterStartDate']").change(function () {

            setTimeout(function () {
                var regisStartDate = $('#RegisterStartDate').val();
                var regisEndDate = $('#RegisterEndDate').val();
                var publishAtdDate = $('#PublishAtdDate').val();
                var trnStartDate = $('#TrnStartDate').val();
                var trnEndDate = $('#TrnEndDate').val();
                var momentRegisStart = moment(ToCrist(regisStartDate), "DD/MM/YYYY");
                var momentRegisEnd = moment(ToCrist(regisEndDate), "DD/MM/YYYY");
                var momentpublishAtd = moment(ToCrist(publishAtdDate), "DD/MM/YYYY");
                var momentTrnStart = moment(ToCrist(trnStartDate), "DD/MM/YYYY");
                var momentTrnEnd = moment(ToCrist(trnEndDate), "DD/MM/YYYY");
                if (momentRegisEnd.isBefore(momentRegisStart))
                    $('#RegisterEndDate').val(regisStartDate);
                if (momentpublishAtd.isBefore(momentRegisStart))
                    $('#PublishAtdDate').val(regisStartDate);
                if (momentTrnStart.isBefore(momentRegisStart))
                    $('#TrnStartDate').val(regisStartDate);
                if (momentTrnEnd.isBefore(momentRegisStart))
                    $('#TrnEndDate').val(regisStartDate);
                RegitChecked();
            });
        });


        $("input[name='RegisterEndDate']").change(function () {

            setTimeout(function () {
                var regisStartDate = $('#RegisterStartDate').val();
                var regisEndDate = $('#RegisterEndDate').val();
                var publishAtdDate = $('#PublishAtdDate').val();
                var trnStartDate = $('#TrnStartDate').val();
                var trnEndDate = $('#TrnEndDate').val();
                var momentRegisStart = moment(ToCrist(regisStartDate), "DD/MM/YYYY");
                var momentRegisEnd = moment(ToCrist(regisEndDate), "DD/MM/YYYY");
                var momentpublishAtd = moment(ToCrist(publishAtdDate), "DD/MM/YYYY");
                var momentTrnStart = moment(ToCrist(trnStartDate), "DD/MM/YYYY");
                var momentTrnEnd = moment(ToCrist(trnEndDate), "DD/MM/YYYY");
                if (momentRegisEnd.isBefore(momentRegisStart))
                    $('#RegisterEndDate').val(regisStartDate)
                if (momentpublishAtd.isBefore(momentRegisEnd))
                    $('#PublishAtdDate').val(regisEndDate);
                if (momentTrnStart.isBefore(momentRegisEnd))
                    $('#TrnStartDate').val(regisEndDate);
                if (momentTrnEnd.isBefore(momentRegisEnd))
                    $('#TrnEndDate').val(regisEndDate);
                RegitChecked();
            }, 500)

        });
        $("input[name='PublishAtdDate']").change(function () {
            setTimeout(function () {
                var regisStartDate = $('#RegisterStartDate').val();
                var regisEndDate = $('#RegisterEndDate').val();
                var publishAtdDate = $('#PublishAtdDate').val();
                var trnStartDate = $('#TrnStartDate').val();
                var trnEndDate = $('#TrnEndDate').val();
                var momentRegisStart = moment(ToCrist(regisStartDate), "DD/MM/YYYY");
                var momentRegisEnd = moment(ToCrist(regisEndDate), "DD/MM/YYYY");
                var momentpublishAtd = moment(ToCrist(publishAtdDate), "DD/MM/YYYY");
                var momentTrnStart = moment(ToCrist(trnStartDate), "DD/MM/YYYY");
                var momentTrnEnd = moment(ToCrist(trnEndDate), "DD/MM/YYYY");
                console.log(ToCrist(regisStartDate) + " : " + ToCrist(publishAtdDate));
                console.log(momentpublishAtd.isBefore(momentRegisStart));
                if (momentpublishAtd.isBefore(momentRegisEnd))
                    $('#PublishAtdDate').val(regisEndDate);
                if (momentTrnStart.isBefore(momentpublishAtd))
                    $('#TrnStartDate').val(publishAtdDate);
                if (momentTrnEnd.isBefore(momentpublishAtd))
                    $('#TrnEndDate').val(publishAtdDate);
                RegitChecked();
            }, 500)
        });
        $("input[name='TrnStartDate']").change(function () {

            setTimeout(function () {
                var regisStartDate = $('#RegisterStartDate').val();
                var regisEndDate = $('#RegisterEndDate').val();
                var publishAtdDate = $('#PublishAtdDate').val();
                var trnStartDate = $('#TrnStartDate').val();
                var trnEndDate = $('#TrnEndDate').val();
                var momentRegisStart = moment(ToCrist(regisStartDate), "DD/MM/YYYY");
                var momentRegisEnd = moment(ToCrist(regisEndDate), "DD/MM/YYYY");
                var momentpublishAtd = moment(ToCrist(publishAtdDate), "DD/MM/YYYY");
                var momentTrnStart = moment(ToCrist(trnStartDate), "DD/MM/YYYY");
                var momentTrnEnd = moment(ToCrist(trnEndDate), "DD/MM/YYYY");
                if (momentTrnStart.isBefore(momentpublishAtd))
                    $('#TrnStartDate').val(publishAtdDate);
                if (momentTrnEnd.isBefore(momentTrnStart))
                    $('#TrnEndDate').val(trnStartDate);
                RegitChecked();
            }, 500)
        });
        $("input[name='TrnEndDate']").change(function () {
            setTimeout(function () {
                var regisStartDate = $('#RegisterStartDate').val();
                var regisEndDate = $('#RegisterEndDate').val();
                var publishAtdDate = $('#PublishAtdDate').val();
                var trnStartDate = $('#TrnStartDate').val();
                var trnEndDate = $('#TrnEndDate').val();
                var momentRegisStart = moment(ToCrist(regisStartDate), "DD/MM/YYYY");
                var momentRegisEnd = moment(ToCrist(regisEndDate), "DD/MM/YYYY");
                var momentpublishAtd = moment(ToCrist(publishAtdDate), "DD/MM/YYYY");
                var momentTrnStart = moment(ToCrist(trnStartDate), "DD/MM/YYYY");
                var momentTrnEnd = moment(ToCrist(trnEndDate), "DD/MM/YYYY");
                if (momentTrnEnd.isBefore(momentTrnStart))
                    $('#TrnEndDate').val(trnStartDate);
                RegitChecked();

            }, 500)
        });

        function RegitChecked() {
            setTimeout(function () {
                var regisStartDate = $('#RegisterStartDate').val();
                var regisEndDate = $('#RegisterEndDate').val();
                var publishAtdDate = $('#PublishAtdDate').val();
                var trnStartDate = $('#TrnStartDate').val();
                var trnEndDate = $('#TrnEndDate').val();
                var momentRegisStart = moment(ToCrist(regisStartDate), "DD/MM/YYYY");
                var momentRegisEnd = moment(ToCrist(regisEndDate), "DD/MM/YYYY");
                var momentpublishAtd = moment(ToCrist(publishAtdDate), "DD/MM/YYYY");
                var momentTrnStart = moment(ToCrist(trnStartDate), "DD/MM/YYYY");
                var momentTrnEnd = moment(ToCrist(trnEndDate), "DD/MM/YYYY");
                if (momentTrnEnd.isSame(momentTrnStart))
                    $('.ovc-item').eq(2).hide();
                else
                    $('.ovc-item').eq(2).show();
            }, 500)

        }
    });
    </script>
}