@using Microsoft.AspNetCore.Identity
@using Weable.TMS.Model.Data
@using Weable.TMS.BO.Web
@using Microsoft.AspNetCore.Authorization

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TMS</title>

    <environment include="Development">
        <!-- Custom fonts for this template-->
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <link href="~/vendor/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css">
        <link href="~/vendor/pikaday/pikaday.css" rel="stylesheet" type="text/css">
        <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        @*<link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">*@
    </environment>
    <environment exclude="Development">
        <!-- Custom fonts for this template-->
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <link href="~/vendor/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css">
        <link href="~/vendor/pikaday/pikaday.css" rel="stylesheet" type="text/css">
    </environment>

    <!-- Custom styles for this template-->
    <link href="~/css/wefont.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body id="page-top">
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="sidebar-brand-text mx-3"><h1 style="font-family: 'Righteous', cursive;">TMS</h1></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                เมนูระบบ
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTraining" aria-expanded="true" aria-controls="collapseTraining">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>การจัดการการฝึกอบรม</span>
                </a>
                <div id="collapseTraining" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Person" asp-action="Index">ทะเบียนผู้เข้าอบรม</a>
                        <a class="collapse-item" asp-controller="Course" asp-action="Index">หลักสูตร</a>
                        <a class="collapse-item" asp-controller="Training" asp-action="Edit">เพิ่มการฝึกอบรมใหม่</a>
                        <a class="collapse-item" asp-controller="Training" asp-action="Index">การฝึกอบรม</a>
                        <a class="collapse-item" href="#">การฝึกอบรมที่จัดอบรมแล้ว</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
                    <i class="fas fa-fw fa-user-cog"></i>
                    <span>ผู้ใช้งาน/สิทธิ์การใช้งาน</span>
                </a>
                <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">เพิ่มผู้ใช้งาน</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMSD" aria-expanded="true" aria-controls="collapseMSD">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>ตั้งค่าข้อมูลหลัก</span>
                </a>
                <div id="collapseMSD" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">กลุ่มเป้าหมาย</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="topbar-divider d-none d-sm-block"></div>

                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600">@UserManager.GetUserAsync(User).Result.FullName</span>
                                    <img class="img-profile rounded-circle" src="~/images/male_avatar_.svg">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        }

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; WeAble Co., Ltd. 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/vendor/papaparse/papaparse.min.js"></script>
        <script src="~/vendor/moment/moment-with-locales.js"></script>
        <script src="~/vendor/mask/masks.js"></script>
        <script src="~/js/vue.js" asp-append-version="true"></script>

        <script src="~/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
        <script src="~/vendor/pikaday/pikaday.js"></script>
        <script src="~/vendor/pikaday/pikaday.jquery.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/vendor/chart.js/Chart.min.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/js/vue.min.js" asp-append-version="true"></script>

        <script src="~/vendor/moment/moment.js"></script>
        <script src="~/vendor/mask/masks.js"></script>
        <script src="~/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
        <script src="~/vendor/pikaday/pikaday.js"></script>
        <script src="~/vendor/pikaday/pikaday.jquery.js"></script>

        <!-- Page level plugins -->
        <script src="~/vendor/chart.js/Chart.min.js"></script>
    </environment>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("form").attr('autocomplete', 'off');
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
