@model Weable.TMS.BO.Web.Models.BaseListModel

<nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-end">
        <li class="page-item @(Model.Paging.CurrentPage > 1?"":"disabled")">
            <a asp-all-route-data="@Model.ToPagingParameter((Model.Paging.CurrentPage - 1 > 1 ? Model.Paging.CurrentPage : 1))" class="page-link">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (var p = 1; p <= Model.Paging.PageCount; p++)
        {
            <li class="page-item @(Model.Paging.CurrentPage == p ? "active" : "")">
                <a asp-all-route-data="@Model.ToPagingParameter(p)" class="page-link">@p</a>
            </li>
        }
        <li class="page-item @(Model.Paging.CurrentPage < Model.Paging.PageCount?"":"disabled")">
            <a asp-all-route-data="@Model.ToPagingParameter((Model.Paging.CurrentPage + 1 < Model.Paging.PageCount ? Model.Paging.CurrentPage + 1 : Model.Paging.PageCount))" class="page-link">
                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
